<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal Nieruchomściowy</title>
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>

<body>
    <header>
        <a href ="#" class="logo">Logo</a>
        <ul class="navlist">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>

    <section class="darkCity">
        <img src="~/img/sky.png" alt="" />
        <img src="~/img/stars.png" alt="" />
        <img src="~/img/moon.png" id="moon" />
        <img src="~/img/city-left.png" id="cityLeft" />
        <img src="~/img/city-right.png" id="ciyRight" />
        <img src="~/img/purple-light.png" id="purple" />
        <img src="~/img/tree.png" alt="" />
        <img src="~/img/ground.png" alt="" />
        <h2 id="text"><span>Welcome to</span><br>Nazwa Portalu</h2>   
        <img src="~/img/grass.png" alt="" />
    </section>

    <div class="underGround">
        <h2>Portal nieruchmościowy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et ex consectetur, feugiat odio vel, volutpat tellus. Vivamus varius quam eu egestas euismod. Fusce eget nulla at diam fermentum vulputate a mattis ligula. Morbi varius gravida diam hendrerit egestas. Aliquam ac tincidunt tortor. Proin pulvinar tortor sit amet turpis blandit hendrerit at a eros. Aliquam consequat magna bibendum nibh aliquam auctor. Donec et diam quis felis lacinia tristique. Cras sit amet tellus nulla. Aenean sed mattis dui, a ultrices justo. Sed posuere, arcu eu vestibulum pulvinar, elit justo pellentesque ante, a porta arcu dui sit amet justo. Maecenas ornare sem eu leo tincidunt tincidunt.
            <br /><br />
            Maecenas aliquet in nunc nec porta. Vestibulum pharetra, magna eget facilisis pretium, ex justo maximus eros, sit amet viverra erat odio a purus. Sed gravida condimentum massa, ac congue leo vestibulum sed. Aliquam pharetra sollicitudin posuere. Etiam finibus felis sed urna gravida feugiat. Maecenas a est leo. Aenean maximus cursus bibendum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis ultrices, erat a iaculis tincidunt, enim metus commodo nunc, vitae dictum lacus metus non ipsum. Donec pulvinar ante quis urna pellentesque posuere. Sed consequat odio nibh, nec vestibulum mauris tempor in. Duis interdum finibus dui sit amet elementum. Vestibulum nec viverra orci.
            <br /><br />Nunc consectetur massa felis, eu viverra enim vulputate quis. Proin ullamcorper, neque sed rutrum tincidunt, justo metus mattis ante, non dignissim felis nulla eget magna. Mauris aliquet faucibus accumsan. Mauris nisi metus, porta nec rutrum id, dictum sit amet mauris. Suspendisse sagittis est eu rutrum volutpat. Phasellus nec ullamcorper est, id accumsan nunc. Integer massa odio, cursus non tortor at, gravida efficitur arcu. Vestibulum rutrum lacus ac scelerisque hendrerit. Curabitur tempor ante sit amet lacus auctor, eu auctor quam ultrices. Duis tempor interdum ante, et condimentum nulla sagittis id. Duis turpis elit, congue non dapibus a, scelerisque pharetra orci. Nulla eu porttitor orci.

            <br /><br />Pellentesque metus nisi, sollicitudin ut mauris sit amet, porttitor imperdiet velit. Cras vel lorem id orci aliquam vulputate. Mauris at faucibus felis, quis sodales ligula. Vivamus pharetra ligula vel dui blandit tincidunt. Nulla metus nisi, bibendum vulputate pellentesque in, porttitor non quam. Sed lobortis mi id tempor malesuada. Vestibulum posuere augue eu nisl commodo tristique. Ut quis magna eu mauris cursus lacinia. Phasellus commodo sagittis venenatis. Integer arcu est, rhoncus vitae nunc eu, lacinia tempor massa. Morbi lacinia accumsan rhoncus. Ut id massa ut odio tincidunt gravida vitae et lacus. Donec venenatis nec sem quis suscipit. Mauris eleifend hendrerit nibh, eu vulputate augue. Integer ultricies nulla eu accumsan accumsan. Integer posuere vel ante sed mollis.
        </p>
    </div>
    <script src="~/js/HomePage.js"></script>

</body>
</html>
