@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*dokladniej jak dziala*/
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body {
    background: #000000;
    overflow-x: hidden;
}

#container {
    position:absolute;
    display:block;
    flex-direction: column;
    width:auto;
    height:auto;
   
}

#tlo {
    box-shadow: inset 0px 90px 60px black, inset 0px -90px 60px black;
    position: relative;
    background-image: url('/img/ProbaPrzyciemnienie1.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazu */
    overflow: hidden;
}

header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

header .logo
{
    font-size: 26px;
    font-weight: 700;
}

header .navlist
{
    display: flex;
}

header ul li
{
    margin-left: 2rem;
}



header ul li a
{
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .3s ease;
}

    header ul li a:hover {
        color: #ff84ff;
    }


#rightNavlist {
    margin-left: 3rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

#mojeKonto {
    padding: 5px 10px;
    margin-right: 4rem;
    white-space: nowrap;
}

    #mojeKonto:hover a, #mojeKonto:hover i {
        color: #ff84ff;
        text-shadow: 0px 0px 3px #ff84ff;
        transition: all ease-in-out .3s
    }

    #mojeKonto a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    #mojeKonto i {
        margin-right: 5px; 
        font-size: 20px;
        line-height: 1; 
    }

#WstawOgloszenie {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid gold;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: auto;
    padding: 20px 20px;
    white-space: nowrap;
    transition: all ease-in-out .5s;
}

#WstawOgloszenie:hover
{
    background-color: darkgoldenrod;
    color: black;
}

#welcomeText {
    width: auto;
    position: absolute;
    top: 25%;
    left: 50%; /* Pozycjonowanie od lewej krawêdzi */
    transform: translate(-50%, 0);
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#typingText::after {
    content: "|";
    color: white;
    font-weight: 200;
    font-size: 100px;
    animation: blink .75s step-end infinite;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

@keyframes blink
{
    from, to{opacity:0}
    50%{opacity:1}
}

.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #1e1e1e;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    border: 3px solid gold;
    opacity: .9;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .tab.active {
        border-bottom: 2px solid #ff84ff;
    }

    .tab:hover {
        background-color: #444444;
    }

.search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:#ffffff;
}

.form-row {
    display: flex;
    gap: 20px;
}

.dropdown-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-text, .input-price, .input-surface {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: white;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
}
input.input-text:focus, input.input-price:focus, input.input-surface:focus {
    border: 2px solid #ff84ff;
    outline: none;
}


    .input-text::placeholder, .input-price::placeholder, .input-surface::placeholder {
        color: #888;
    }

.price, .surface {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-button {
    background-color: #cc6acc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

    .search-button i {
        margin-right: 5px;
    }

    .search-button:hover {
        background-color: #ff84ff;
    }

#drugieTlo {
    box-shadow: inset 0px 10px 20px black;
    background-color: #fffff0;
    width: 100vw;
    height: auto;
    position: relative;
}


.promowane-ogloszenia {
    padding: 20px;
    background-color: #1e1e1e;
}
    .promowane-ogloszenia a {
        color: #cc6acc;
        text-decoration: underline;
        text-decoration-color: #cc6acc;
        margin-left: 10px;
    }

    .promowane-ogloszenia h2 
    {
        font-size: 24px;
        margin-bottom: 10px;
    }

.ogloszenia-container {
    display: flex;
    gap: 20px;
}

.ogloszenie {
    background-color: #2b2b2b;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease-in-out;
}

    .ogloszenie:hover
    {
        cursor:pointer;
    }

    .ogloszenie img {
        position:relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        z-index: 1;
        transition: all .3s ease-in-out;
    }

    .ogloszenie:hover img {
        transform: scale(1.15);
        overflow: hidden;
    }

.imgClass
{
    overflow: hidden;
}

.opis {
    height:auto;
    position: relative;
    padding: 5px;
    z-index: 10;
}

    .opis h3 {
        font-size: 18px;
    }

    .opis p {
        font-size: 14px;
        color: #ccc;
    }

.rodzaje-nieruchomosci {
    padding: 20px;
    background-color: #1e1e1e;
    margin-top: 50px;
}

.rodzaje-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.rodzaj-tab {
    padding: 10px 20px;
    background-color: #2b2b2b;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .rodzaj-tab.active {
        background-color: #ff84ff;
    }

.nieruchomosci-grid {
    display: flex;
    gap: 20px;
}

.nieruchomosc {
    width: 23%;
    text-align: center;
}

    .nieruchomosc img {
        width: 100%;
        border-radius: 10px;
        transition: transform 0.3s;
    }

        .nieruchomosc img:hover {
            transform: scale(1.05);
        }

    .nieruchomosc p {
        margin-top: 10px;
        font-size: 16px;
    }





